<style>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">

body {
  font-family: "Sofia", sans-serif;
}


h1 {
	text-align: center;
}

h1, h2 {
  text-transform: uppercase;
  line-height: 0.7;
  text-shadow: 1px 1px red;
  font-size: 23px;
  font-family: "Sofia", sans-serif;	
}

h6 {
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
}

h1, h2, h6 {
	text-align: center;
}


body {
	background-color: #FAEBD7;
}

img {
        border-radius: 50%;
}

.center {
	margin-left: auto;
	margin-right:auto;
}



table, th, td {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  text-align: center;
}

table {
	width: 60%;
	table-align: center;
	margin-bottom: 30px;
}

th {
	text-shadow: 2px 2px 5px #000000;
	text-transform: uppercase;
	font-size: 20px;
	font-style: oblique;
	background-color: #FF7F50;
}

td {
	text-transform: capitalize;
}

p {
	text-transform: uppercase;	
	text-decoration-line: underline;
	font-style: oblique;
	font-size: 20px;
	text-align: center;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:370px;
	margin-bottom: 30px;
}

ul {
	font-size: 17px;
	list-style-type: square;
	background: #ff9999;
	padding: 15px;
}


a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}


        </style>